@import './assets/styles/variable.scss';
@import '~quill/dist/quill.bubble.css'; 
@import '~quill/dist/quill.snow.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.ql-container.ql-snow{
  border: 0px solid white !important;
}



.mat-checkbox{
  font-size: 1em;
  width: 0.8em;
  height: 0.8em;
  display: contents;
  .mat-checkbox-layout{
    height: 1em;
    line-height: 0 !important;
    .mat-checkbox-inner-container{
      width: 0.8em;
      margin-top: auto;
      margin-bottom: 0;
      height: 0.8em;
    };
    .mat-checkbox-label{
      height: 1em;
      line-height: normal;
      font-size: 0.8em;
      margin-top: auto;
      font: normal;
    }
  }
}

.mat-elevation-z4 {
  box-shadow:  none;
  background: rgba(0, 0, 0, 0);
}

.mat-datepicker-toggle{
  height: 0em;
  right: 0;
  position: absolute;
  bottom: 2em;
}