<div fxLayout="column" class="arcordeon">

  <div fxLayout="row" fxLayoutAlign="space-between center" fyFlexFIll>
    <span>{{arcordeonData.name}}</span>
    <div class="buttons" fxLayout="row nowrap">
      <app-button *ngFor="let button of buttonList" [setButtons]="button"> </app-button>
    </div>
  </div>

  <div class="sub-acordeon" *ngIf="arcordeonData.arcordeonData.length > 0">
    <app-arcordeon *ngFor="let arcordeon of arcordeonData.arcordeonData" [parentId]="DOMid">

    </app-arcordeon>

  </div>
</div>
