<div *ngIf="overlayData" fxLayout="row" fxFlexFill fxLayoutAlign="center space-around" class="overlay-outer-wrapper" [ngSwitch]="overlayType">
  <div  fxLayout="column" class="overlay-inner-wrapper" fxLayoutAlign="space-around center">
    <div class="overlay-container">
      <div class="close">
        <mat-icon (click)="closeOverlay()">close</mat-icon>
      </div>
      <app-login-dialog [parentId]="DOMself.id" *ngSwitchCase="overlayTypes.login" ></app-login-dialog>
      <app-register-group-dialog [parentId]="DOMself.id" *ngSwitchCase="overlayTypes.registerGroup" ></app-register-group-dialog>
      <app-add-form-element [parentId]="DOMself.id" *ngSwitchCase="overlayTypes.addFormElement" [setFormElement]="data" [option]="option"></app-add-form-element>
    </div>
  </div>
</div>
