<div *ngIf="overlayData" fxLayout="row" fxFlexFill fxLayoutAlign="center space-around" class="overlay-outer-wrapper" [ngSwitch]="overlayType">
  <div  fxLayout="column" class="overlay-inner-wrapper" fxLayoutAlign="space-around center">
    <div class="overlay-container">
      <div class="close">
        <mat-icon (click)="closeOverlay()">close</mat-icon>
      </div>
      <app-login-dialog [parentId]="DOMself.id" *ngSwitchCase="overlayTypes.login" ></app-login-dialog>
      <app-register-group-dialog [parentId]="DOMself.id" *ngSwitchCase="overlayTypes.registerGroup" ></app-register-group-dialog>
      <app-edit-form-element [parentId]="DOMself.id" *ngSwitchCase="overlayTypes.editFormElement"[option]="option" [tableId]="option2" [setFormElement]="data" ></app-edit-form-element>
      <app-change-formular   [parentId]="DOMself.id" *ngSwitchCase="overlayTypes.changeFormular" [option]="option" [tableId]="option2" [setFormElement]="data"></app-change-formular>
      <app-select-formular   [parentId]="DOMself.id" *ngSwitchCase="overlayTypes.selectFormular" [option]="option" [tableId]="option2"></app-select-formular>
    </div>
  </div>
</div>
