<div [class.open]="states.open.value" fxLayout="column" fxLayoutAlign="start" fxLayoutGap="0.5em" class="sidenav">
  <ng-container>
    <div [class.open]="states.open.value">sidenav works!</div>
    <div [class.open]="states.open.value">sidenav works!</div>
    <div [class.open]="states.open.value">sidenav works!</div>
    <div [class.open]="states.open.value">sidenav works!</div>
    <div [class.open]="states.open.value">sidenav works!</div>
    <div [class.open]="states.open.value">sidenav works!</div>
  </ng-container>
</div>
