
@import '../../../../assets/styles/variable.scss';

:host{
  width: 100% !important;
  height: 100% !important;
}

.sidenav{
  z-index: 10;
  background-color: $white;
  filter: drop-shadow(0px 10px 8px $gray-light);
  display: block;
  overflow: hidden;
  width: 0 ;
  height: 100%;
  div{
    display: block;
    white-space: nowrap;
  }
  &.open{
    width: 100%;
  }
}
