@import '../../../../../../../assets/styles/variable.scss';
@import '../../../../../../../assets/styles/mixin.scss';

:host{
  z-index: 30;
  position: relative;
}

.formular{
  @include notSelectable();
  @include notDragable();
  z-index: 31;
  position: relative;
  padding: 1em 0.5em 0.5em 0.5em;
  width: 100%;
  min-width: 12em;
  box-sizing: border-box;
  .label{  
    position: relative;
    z-index: 32;
    font-size: 0.7em;
    white-space: nowrap;
    padding: unset;
    margin: 0;
    font-weight: bold;
    color: $primary;
    width: 100% !important;
  }
  .content{
    width: 100%;
    z-index: 33;
    position: relative;
    padding-bottom: 2px;
    box-sizing: border-box;
    border-bottom: 2px solid $primary;

  }
  .error{
    color: $warn;

  }
}
