
<div class="header" fxLayout="row nowrap" fxLayoutAlign="space-between center">
  <app-button [setButtons]="menueButtonList" ></app-button>
  <div fxLayout="column">
    <div fxLayout="row nowrap" fxLayoutAlign="space-between center" fxLayoutGap="0.25em">
      <app-search-field label="Details.Doc" [searchServices]="searchServices.group"
      [isLast]="true" [isEditMode]="true" (selectedElement)="onSelect($event)"
      [value]=""></app-search-field>
      <app-button [setButtons]="[actiomButtonList[2]]" ></app-button>
      <app-button [setButtons]="[actiomButtonList[1]]" ></app-button>
      <app-button [setButtons]="[actiomButtonList[0]]" ></app-button>
    </div>
    <div>
      <app-popup [parentId]="DOMid" *ngIf="openHome.value" [data]="popupData"></app-popup>
    </div>
  </div>
</div>
