@import '../../../../assets/styles/variable.scss';




.body{
  width: 100%;
  height: 100%;
  .body-wrapper{
    overflow: auto;
    width: 100%;
    height: 100%;
    .column{
      height: calc(100% - 2em);
      padding-top: 2em;
      @media screen and (max-width: $device-s) {
        width: 95%;
      }
      @media screen and (min-width: $device-s)  and (max-width: $device-m) {
        width: 90%;
      }
      @media screen and (min-width: $device-m)  and (max-width: $device-l) {
        width: 80%;
      }
      @media screen and (min-width: $device-l) and (max-width: $device-xl) {
        width: 70%;
      }
      @media screen and (min-width: $device-xl) {
        width: 60%;
      }
    }
  }
}
