
@mixin notSelectable() {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@mixin notDragable() {
  -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
  user-drag: none;
}
