$primary-lighter:  #d4e3cc;
$primary-light:    #b3cca7;
$primary:         #89a67c;
$primary-dark:    #67825b;
$primary-darker:  #46573e;

$gray-lighter:  #d6d1d1;
$gray-light:    #cccccc;
$gray:          #b3b3b3;
$gray-dark:     #838181;
$gray-darker:   #747474;

$warn-lighter:  #f8a5a5;
$warn-light:    #dd7a7a;
$warn:          #cc6e6e;
$warn-dark:     #c23d3d;
$warn-darker:   #c01313;


$accent-lighter:  #9adbc0;
$accent-light:    #75c2a2;
$accent:          #53b68d;
$accent-dark:     #249465;
$accent-darker:   #088d56;



$link-lighter:  #aff3ff;
$link-light:    #9edee9;
$link:          #55b9ca;
$link-dark:     #33a1b4;
$link-darker:   #108ca1;



$white:         #ffffff;
$white-dark:    #e4e2e2;
$white-darker:  #d1cdcd;

$black:         #000000;
$black-light:   #353434;
$black-lighter: #4e4e4e;


$size-tinyer:     0.6em;
$size-tiny:       0.7em;
$size-smaller:    0.8em;
$size-small:      0.9em;
$size-normal:     1em;
$size-large:      1.2em;
$size-larger:     1.4em;
$size-huge:       1.6em;
$size-huger:      1.6em;


$header-hight:    2.5em;
$footer-hight:    1.5em;


$device-s: 600px;
$device-m: 900px;
$device-l: 1180px;
$device-xl: 1800px;
