
@import '../../../../../assets/styles/variable.scss';
@import '../../../../../assets/styles/mixin.scss';

:host{
  width: 100% !important;
  height: 100% !important;
}

.sidenav-item{
  background-color: $white;
  overflow: hidden;
  .hidden{
    display: none !important;
  }
  .hover{
    @include hoverNav();
  }
  .content {
    @include notSelectable();
    width: 100%;
    .input-wrapper {
      display: inline-block;
      position: relative;
      .name{
        z-index: 10;
        display: block;
        position: relative;
        background-color:  rgba(0,0,0,0);
        border: none;
        color: $black;
        &.active{
          font-style: oblique;
        }
      }
      .input-overlay{
        display: inline-block;
        position: absolute;
        z-index: 20;
        height: 100%;
        width: 100%;
        left:0;
        right:0;
        top:0;
        bottom:0;
      }
    }
    .content-wrapper{
      .buttons{
        z-index: 0;
      }
    }
  }
  &.open{
    width: 100%;
  }
  .sub-nav-items{
    .tab{
      display: block;
      padding-left: 1em;
    }
  }
}
