
@import '../../../../../assets/styles/variable.scss';
@import '../../../../../assets/styles/mixin.scss';

:host{
  width: 100% !important;
  height: 100% !important;
}

.sidenav-item{
  background-color: $white;
  overflow: hidden;
  .hidden{
    display: none !important;
  }
  .hover{
    @include hoverNav();
  }
  .content {
    @include notSelectable();
    width: 100%;
    .name{
      background-color:  rgba(0,0,0,0);
      border: none;
      color: $black;
      &.active{
        font-style: oblique;
      }
    }
    .content-wrapper{
      .buttons{
        z-index: 0;
      }
    }
  }
  &.open{
    width: 100%;
  }
  .sub-nav-items{
    .tab{
      display: block;
      padding-left: 1em;
    }
  }
}
