<div class="sidenav-item" fxLayout="column">

  <div class.hidden="firstElement" (click)="clickNavElement(navData)" class="content" fxLayout="row nowrap" fxLayoutAlign="space-between center" fxFlexFill>
    <input #sidenavText
      [disabled]="!states.editMode.value"
      (keyup)="updateName($event)"
      [class.active]="states.editMode.value" type="text"
      class="name"
      (click)="clickNavElement(navData)"
      [value]="navData.name">
    <div class="buttons" fxLayout="row nowrap"(click)="clickButtonDiv($event)">
      <app-button *ngFor="let button of buttonList" [setButtons]="button"> </app-button>
    </div>
  </div>
  <div>
  <app-content *ngIf="content" [setContentType]="navData.contentType" ></app-content>

  </div>
  <div fxLayout="column" fxFlexFill class="sub-nav-items"  [class.hidden]="!states.open.value"  fxFlexFill>
    <div class="tab" *ngFor="let navItem of navData.navData">
      <app-sidenav-item  [setNavData]="navItem" [content]="content" [parentId]="DOMself.id"></app-sidenav-item>
    </div>
  </div>

</div>
