$primary-lighter:  #d4e3cc;
$primary-light:    #b3cca7;
$primary:         #89a67c;
$primary-dark:    #67825b;
$primary-darker:  #46573e;

$gray-lighter:  #dbdbdb;
$gray-light:    #cccccc;
$gray:          #b3b3b3;
$gray-dark:     #a1a1a1;
$gray-darker:   #808080;

$warn-lighter:  #f57c7c;
$warn-light:    #ca6262;
$warn:          #a34343;
$warn-dark:     #964848;
$warn-darker:   #771f1f;


$accent-lighter:  #9adbc0;
$accent-light:    #75c2a2;
$accent:          #53b68d;
$accent-dark:     #249465;
$accent-darker:   #088d56;



$white:         #ffffff;
$white-dark:    #e9e6e6;
$white-darker:  #d1cdcd;

$black:         #080808;
$black-light:   #242323;
$black-lighter: #363636;


$size-tinyer:     0.6em;
$size-tiny:       0.7em;
$size-smaller:    0.8em;
$size-small:      0.9em;
$size-normal:     1em;
$size-large:      1.2em;
$size-larger:     1.4em;
$size-huge:       1.6em;
$size-huger:      1.6em;


$header-hight:    2.5em;
$footer-hight:    1.5em;
